
@{
    ViewBag.Title = "ConfirmEmailDemo";
}

<h2>Thank you for registration,a verification link is sent to your email id please check your mail and click on the link to verify your account..!! </h2>

